<div>

	<h3>Categorias</h3>
	<div>
		ID: <input ng-disabled="!updateValue" 
				   type="text"
				   ng-model="produto.id" />
	</div>
	Descrição: <input type="text" ng-model="produto.descricao" />
	<br />
	
	Update:<input type="radio" 
				  ng-checked="updateValue"
				  ng-click="mudaUpdate()" 
				  name="update" /> 
  	Create:<input type="radio"
				  ng-checked="!updateValue" 
				  ng-click="mudaUpdate()" 
				  name="update" /> 
  	<br /> 
  	
  	<input type="text" ng-model="id" />
	<button ng-click="find()">FIND</button>
	<button ng-click="findAll()">FIND-ALL</button>
	<button ng-click="create()" ng-disabled="!updateValue">CREATE</button>
	<button ng-click="update()" ng-disabled="updateValue">UPDATE</button>
	<button ng-click="delete()">DELETE</button>
	<br />
	<h3>Resultado FIND: </h3>
		
	<p ng-repeat="c in categorias">{{c}}</p>
	<p>Total: {{counted}}</p>
	<br/>
	
</div>